.power_menu {
background-color: rgba(black, .4);
}
.btn {
font-size: 40px;
color: rgba(white, .8);
border: 2px dotted rgba(lightgrey, .8);
margin: 5px;
}
.btn:hover {
border: 2px solid rgba(darkgrey, .8);
color: rgba(grey, .8);
}

